{
    "max_threads": 16,
    "defaults": {
        "cpus": 2,
        "ram": "2g"
    },
    "repos": {
        "JamesonRGrieve/ServerFramework:singlethreaded": {
            "max_count": 4,
            "cpus": 1,
            "ram": "1g"
        },
        "JamesonRGrieve/ServerFramework:multithreaded": {
            "max_count": 2,
            "cpus": 8,
            "ram": "8g"
        },
        "JamesonRGrieve/ClientFramework:singlethreaded": {
            "max_count": 2,
            "cpus": 1,
            "ram": "1g"
        },
        "JamesonRGrieve/workflow-tests": {
            "max_count": 1,
            "cpus": 1,
            "ram": "1g"
        }
    },
    "orgs": {
        "ExampleOrg:singlethreaded": {
            "max_count": 4,
            "cpus": 1,
            "ram": "1g"
        },
        "ExampleOrg:multithreaded": {
            "max_count": 2,
            "cpus": 4,
            "ram": "4g"
        }
    }
}
